#inputtable{
    position:absolute;
    left:10px;
    top:10px;
    font-family:courier;
}
#newscrollinput{
    font-family:courier;
    
}
#linktable{
    position:absolute;
    right:10px;
    top:10px;
    background-color:#808080;
}
body{

    
}
input{
    font-family:courier;
    color:white;
}

.file{
    cursor:pointer;
    border-radius:0.25em;
    border:solid;
    padding:0.25em 0.25em 0.25em 0.25em;
}
.files:hover{
    background-color:green;
}
.files:active{
    background-color:yellow;
}
#filescroll{
    position:absolute;
    overflow:scroll;
    top:250px;
    bottom:0%;
    right:0%;
    left:75%;
    border:solid;
    border-radius:5px;
    border-width:3px;
    font-family:courier;
    font-size:22px;
    z-index:99999999;
}
#maineditor{
    position:absolute;
    left:0%;
    top:5em;
    bottom:1em;
    right:30%;
    font-size:22px;
    border:solid;
    border-color:black;
}
.button{
    cursor:pointer;
}
.button:hover{
    background-color:green;
}
.button:active{
    background-color:yellow;
}
